<div class="row">
    <div class="col-xl-4">
        <div class="card border-0">
            <div class="card-body">
                <h2>Register</h2>
                <form [formGroup]="registerModel.formRegisterGroup">
                    <div>
                        <label class="form-label">Full Name</label>
                        <input [(ngModel)]="registerModel.fullName" formControlName="fullNameControl" maxlength="20" class="form-control"
                            type="text" />
                        <p style="color:red" [hidden]="!(hasError('required','fullNameControl'))">Full Name is mandatory</p>
                    </div>
                    
                    .
                    <div>
                        <label class="form-label">Email-id</label>
                        <input [(ngModel)]="registerModel.emailId" formControlName="emailIdControl" type="text" maxlength="30" class="form-control" />
                        <p style="color:red" [hidden]="!(hasError('required','emailIdControl'))">Email-id is mandatory</p>
                    </div>
                    <div>
                        <label class="form-label">User Name</label>
                        <input [(ngModel)]="registerModel.userName" formControlName="userNameControl" type="text" maxlength="50" class="form-control" />
                        <p style="color:red" [hidden]="!(hasError('required','userNameControl'))">User Name is mandatory</p>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input [(ngModel)]="registerModel.password" formControlName="passwordControl" type="password" maxlength="50" class="form-control" />
                        <p style="color:red" [hidden]="!(hasError('required','passwordControl'))">Password is mandatory</p>
                    </div>
                    
                    <div class="py-4">
                        <input type="submit" (click)="RegisterUser()" [disabled]="!(registerModel.formRegisterGroup.valid)" class="btn btn-success"
                            value="Register"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<button id="btnLaunchModal" type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalHeader}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{modalText}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>