<div class="row">
    <div class="col-xl-4">
        <div class="card border-0">
            <div class="card-body">
                <h2>Login</h2>
                <form [formGroup]="loginModel.formLoginGroup">
                    <div>
                        <label class="form-label">UserName</label>
                        <input [(ngModel)]="loginModel.userName" formControlName="userNameControl" class="form-control"
                            type="text" />
                        <p style="color:red" [hidden]="!(hasError('required','userNameControl'))">User name is a
                            mandatory field</p>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input [(ngModel)]="loginModel.password" formControlName="passwordControl" class="form-control"
                            type="password" />
                        <p style="color:red" [hidden]="!(hasError('required','passwordControl'))">Password is a
                            mandatory field</p>
                    </div>
                    <div class="py-4">
                        <input type="submit" [disabled]="!(loginModel.formLoginGroup.valid)" class="btn btn-success"
                            value="Login" (click)="Login()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 
<div *ngIf="showSpinner" class="loader" role="status">
    <span class="visually-hidden">Loading</span>
</div> -->


<button id="btnLaunchModal" type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalHeader}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{modalText}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>